In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

%matplotlib inline
pd.set_option('display.max_rows', 500)

![CRISP_DM](../reports/figures/CRISP_DM.png)

# Groupby apply on large (relational) data set

## Attentions all writen functions assume a data frame where the date is sorted!!

In [11]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('Date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

  Unnamed: 0        Date     State        Country  Confirmed
0          0  2020-01-22       NaN    Afghanistan          0
1        308  2020-01-22  Zhejiang           Cuba          0
2        307  2020-01-22  Zhejiang        Croatia          0
3        306  2020-01-22  Zhejiang  Cote d'Ivoire          0
4        305  2020-01-22  Zhejiang     Costa Rica          0

# Test data

In [15]:
test_data=pd_JH_data[((pd_JH_data['Country']=='US')|
                      (pd_JH_data['Country']=='Germany'))&
                     (pd_JH_data['Date']>'2020-03-20')]

In [16]:
test_data.head()

      Unnamed: 0        Date     State  Country  Confirmed
26704      26998  2020-03-21  Zhejiang  Germany      22213
26823      27106  2020-03-21  Zhejiang       US      25600
26913      26732  2020-03-21       NaN  Germany      22213
27031      26840  2020-03-21       NaN       US      25600
27156      27450  2020-03-22  Zhejiang  Germany      24873

In [48]:
#test_data.groupby(['Country']).agg(np.max)

In [22]:
# %load ../src/features/build_features.py

import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)

def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate'''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

In [24]:
test_data.groupby(['State','Country']).agg(np.max)

                 Unnamed: 0        Date  Confirmed
State    Country
Zhejiang Germany      60446  2020-06-03     184121
         US           60554  2020-06-03    1851520

In [8]:
# this command will only work when adapting the get_doubling_time_via_regression function

#test_data.groupby(['state','country']).apply(get_doubling_time_via_regression)

In [25]:
def rolling_reg(df_input,col='confirmed'):
    ''' input has to be a data frame'''
    ''' return is single series (mandatory for group by apply)'''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [26]:
test_data[['State','Country','Confirmed']].groupby(['State','Country']).apply(rolling_reg,'Confirmed')

State     Country
Zhejiang  Germany  26704           NaN
                   27156           NaN
                   27605      7.417994
                   28058      7.142035
                   28509      8.012983
                   28961      6.954407
                   29413      6.501919
                   29866      7.390371
                   30318     10.136671
                   30772     13.541893
                   31222     13.781393
                   31675     13.140681
                   32126     12.037271
                   32579     12.735506
                   33032     16.052694
                   33481     21.372453
                   33934     27.427355
                   34388     27.511936
                   34840     21.792179
                   35289     21.495848
                   35742     26.565108
                   36193     36.198404
                   36645     43.982990
                   37097     49.423444
                   37551     74.043747
                   38002     56.424411
                   38455     42.468318
                   38907     41.525988
                   39357     49.898063
                   39811     75.684007
                   40263     78.000000
                   40713     94.526338
                   41165     82.985208
                   41619     62.294061
                   42070     70.294338
                   42521     91.536840
                   42975    112.903164
                   43425    140.472457
                   43879    148.285092
                   44329    115.116625
                   44781    104.285868
                   45235    128.349094
                   45686    167.535921
                   46139    207.816845
                   46591    279.484107
                   47041    247.616282
                   47495    166.275622
                   47947    138.835878
                   48397    139.648255
                   48849    179.986624
                   49303    265.319391
                   49754    274.642705
                   50205    267.092879
                   50659    227.702584
                   51109    266.129559
                   51563    307.670485
                   52013    274.967556
                   52465    309.480047
                   52919    441.111389
                   53372    251.099125
                   53822    184.808186
                   54274    287.086082
                   54728    289.519806
                   55178    372.170639
                   55631    582.550162
                   56084    587.311618
                   56533    414.470948
                   56986    392.008658
                   57440    364.738956
                   57892    260.678112
                   58341    368.114804
                   58794    750.711749
                   59245    905.667490
                   59700    783.060412
                   60151    697.778621
          US       26823           NaN
                   27275           NaN
                   27726      3.750666
                   28180      4.232405
                   28630      4.962575
                   29082      4.538018
                   29535      4.644812
                   29985      5.403320
                   30440      6.241792
                   30891      7.017385
                   31343      6.929161
                   31795      7.306332
                   32247      7.710462
                   32699      7.861256
                   33151      8.498367
                   33602     10.071766
                   34056     11.778042
                   34507     12.160237
                   34959     12.748897
                   35410     12.980717
                   35864     13.577614
                   36314     15.623561
                   36766     18.003717
                   37219     20.585265
                   37671     22.201514
                   38123     21.706429
                   38575     21.138488
                   39027     21.084085
                   39478     21.675339
                   39931     24.868912
                   40382     29.114791
                   40834     29.596175
                   41287     29.197132
                   41739     29.332938
                   42190     26.816384
                   42642     26.215567
                   43094     30.993838
                   43546     38.528679
                   43998     42.261456
                   44451     39.200289
                   44902     36.615120
                   45354     33.702522
                   45807     34.914299
                   46259     41.457215
                   46711     48.372969
                   47162     50.999633
                   47615     49.215037
                   48066     46.713054
                   48518     46.036888
                   48971     48.870130
                   49423     57.690308
                   49874     69.337977
                   50326     67.246934
                   50778     64.396049
                   51230     57.544472
                   51682     54.065448
                   52135     57.659194
                   52586     66.728898
                   53038     73.484901
                   53491     72.128276
                   53943     70.252673
                   54396     63.917440
                   54847     64.242754
                   55299     70.394017
                   55751     76.686521
                   56203     82.777526
                   56654     88.255166
                   57108     91.164343
                   57559     83.281783
                   58011     73.535683
                   58462     72.130009
                   58916     80.120732
                   59366     87.649117
                   59818     86.965081
                   60268     90.442156
Name: Confirmed, dtype: float64

In [27]:
pd_DR_result=pd_JH_data[['State','Country','Confirmed']].groupby(['State','Country']).apply(rolling_reg,'Confirmed').reset_index()

In [28]:
pd_DR_result=pd_DR_result.rename(columns={'Confirmed':'confirmed_DR',
                             'level_2':'index'})
pd_DR_result.head()

     State Country  index  confirmed_DR
0  Alberta  Canada    349           NaN
1  Alberta  Canada    801           NaN
2  Alberta  Canada   1253           NaN
3  Alberta  Canada   1705           NaN
4  Alberta  Canada   2158           NaN

In [29]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index Unnamed: 0        Date     State        Country  Confirmed
0      0          0  2020-01-22       NaN    Afghanistan          0
1      1        308  2020-01-22  Zhejiang           Cuba          0
2      2        307  2020-01-22  Zhejiang        Croatia          0
3      3        306  2020-01-22  Zhejiang  Cote d'Ivoire          0
4      4        305  2020-01-22  Zhejiang     Costa Rica          0

In [30]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','confirmed_DR']],on=['index'],how='left')
pd_result_larg.head()

,index,Unnamed: 0,Date,State,Country,Confirmed,confirmed_DR
0,0,0,2020-01-22,NaN,Afghanistan,0,NaN
1,1,308,2020-01-22,Zhejiang,Cuba,0,NaN
2,2,307,2020-01-22,Zhejiang,Croatia,0,NaN
3,3,306,2020-01-22,Zhejiang,Cote d'Ivoire,0,NaN
4,4,305,2020-01-22,Zhejiang,Costa Rica,0,NaN

In [31]:
#pd_result_larg[pd_result_larg['country']=='Germany']

# Filtering the data with groupby apply

In [36]:
from scipy import signal

def savgol_filter(df_input,column='Confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [37]:
pd_filtered_result=pd_JH_data[['State','Country','Confirmed']].groupby(['State','Country']).apply(savgol_filter).reset_index()

In [39]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','Confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,Unnamed: 0,Date,State,Country,Confirmed,confirmed_DR,Confirmed_filtered
0,0,0,2020-01-22,NaN,Afghanistan,0,NaN,NaN
1,1,308,2020-01-22,Zhejiang,Cuba,0,NaN,0.0
2,2,307,2020-01-22,Zhejiang,Croatia,0,NaN,0.0
3,3,306,2020-01-22,Zhejiang,Cote d'Ivoire,0,NaN,0.0
4,4,305,2020-01-22,Zhejiang,Costa Rica,0,NaN,0.0

# Filtered doubling rate

In [40]:

pd_filtered_doubling=pd_result_larg[['State','Country','Confirmed_filtered']].groupby(['State','Country']).apply(rolling_reg,'Confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'Confirmed_filtered':'confirmed_filtered_DR',
                             'level_2':'index'})

pd_filtered_doubling.tail()

          State   Country  index  confirmed_filtered_DR
35639  Zhejiang  Zimbabwe  58418               7.927461
35640  Zhejiang  Zimbabwe  58903              13.255208
35641  Zhejiang  Zimbabwe  59322              14.082051
35642  Zhejiang  Zimbabwe  59775              14.508642
35643  Zhejiang  Zimbabwe  60567              16.854839

In [41]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_larg.tail()

,index,Unnamed: 0,Date,State,Country,Confirmed,confirmed_DR,Confirmed_filtered,confirmed_filtered_DR
60563,60563,60259,2020-06-03,NaN,San Marino,674,NaN,NaN,NaN
60564,60564,60258,2020-06-03,NaN,Saint Vincent and the Grenadines,26,NaN,NaN,NaN
60565,60565,60257,2020-06-03,NaN,Saint Lucia,18,NaN,NaN,NaN
60566,60566,60283,2020-06-03,NaN,Timor-Leste,24,NaN,NaN,NaN
60567,60567,60567,2020-06-03,Zhejiang,Zimbabwe,222,22.140351,221.4,16.854839

In [43]:
mask=pd_result_larg['Confirmed']>100
pd_result_larg['confirmed_filtered_DR']=pd_result_larg['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [45]:
pd_result_larg[pd_result_larg['Country']=='Germany'].tail()

,index,Unnamed: 0,Date,State,Country,Confirmed,confirmed_DR,Confirmed_filtered,confirmed_filtered_DR
59455,59455,59276,2020-06-01,NaN,Germany,183594,NaN,NaN,NaN
59700,59700,59994,2020-06-02,Zhejiang,Germany,183879,783.060412,183871.9,776.311280
59907,59907,59728,2020-06-02,NaN,Germany,183879,NaN,NaN,NaN
60151,60151,60446,2020-06-03,Zhejiang,Germany,184121,697.778621,184105.2,788.135019
60358,60358,60180,2020-06-03,NaN,Germany,184121,NaN,NaN,NaN

In [46]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv',sep=';',index=False)